<!DOCTYPE html>
<html>
  <head>
    <title>SuperTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  </head>

  <body>
    <!-- ##The yield piece below is effectively like a Fragment of sorts. Whatever page I visit it goes to and pulls up, swapping it in and out. This means the application.html.erb can be used to simplif things, ensure consistent things  appear acrosss all pages without requiring considerable  duplicate code. -->

    
    <div class ="container"> 
      <div class="page-header">
        <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
      <span class ="text-nowrap">
        <h5>
          <%= link_to "Crumbler", "/" %>
              <small class = "text-muted">// home goodness</small>
        </h5>
      </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item active">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="//codeply.com">Codeply</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
                <%= link_to "Welcome", "/", class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "About", "/about", class: "nav-link" %>  
            </li>
            <li class="nav-item">
                <%= link_to "Test", "/test", class: "nav-link" %>  
            </li>
        </ul>
    </div>
</nav>
      </div>
        <div class = "row">
        <div class="col-md-6 offset-md-3">
          <%= yield %>
        </div>
      </div>
</div>
  </body>

</html>
